## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [20]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [21]:
Gas_2000 = pd.read_csv("gasolina_2000+.csv")
Gas_2010 = pd.read_csv("gasolina_2010+.csv")

Df_gasolina  = pd.concat([Gas_2000, Gas_2010])

C:\Users\PICHAU\AppData\Local\Temp\ipykernel_10580\2243739770.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  Gas_2010 = pd.read_csv("gasolina_2010+.csv")

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [22]:
Df_gasolina.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [23]:
Df_gasolina.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 78184
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     120823 non-null  int64
 1   DATA INICIAL                   120823 non-null  object
 2   DATA FINAL                     120823 non-null  object
 3   REGIÃO                         120823 non-null  object
 4   ESTADO                         120823 non-null  object
 5   PRODUTO                        120823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 7   UNIDADE DE MEDIDA              120823 non-null  object
 8   PREÇO MÉDIO REVENDA            120823 non-null  float64
 9   DESVIO PADRÃO REVENDA          120823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           120823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 12  MARGEM MÉDIA REVENDA           120823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(2), object(12)
memory usage: 18.4+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [24]:
type(Df_gasolina["DATA INICIAL"].loc[2])

pandas.core.series.Series

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [25]:
Df_gasolina["DATA INICIAL"] = pd.to_datetime(Df_gasolina["DATA INICIAL"])

In [26]:
Df_gasolina["DATA FINAL"] = pd.to_datetime(Df_gasolina["DATA FINAL"])

In [27]:
Df_gasolina.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120823 entries, 0 to 78184
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     120823 non-null  int64
 1   DATA INICIAL                   120823 non-null  datetime64[ns]
 2   DATA FINAL                     120823 non-null  datetime64[ns]
 3   REGIÃO                         120823 non-null  object
 4   ESTADO                         120823 non-null  object
 5   PRODUTO                        120823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 7   UNIDADE DE MEDIDA              120823 non-null  object
 8   PREÇO MÉDIO REVENDA            120823 non-null  float64
 9   DESVIO PADRÃO REVENDA          120823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           120823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 12  MARGEM MÉDIA REVENDA           120823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(10)
memory usage: 22.5+ MB

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [28]:
Df_gasolina["Ano-mes"] = Df_gasolina["DATA FINAL"].dt.to_period("M")

In [29]:
Df_gasolina.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Ano-mes
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-05
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-05
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-05
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-05
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004-05

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [38]:
Df_gasolina["PRODUTO"].value_counts()

PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [42]:
# Criando o filtro
filtro = Df_gasolina["PRODUTO"] == "GASOLINA COMUM"

# Aplicando o filtro ao DataFrame original
Df_gasolina_comum = Df_gasolina[filtro]

# Exibindo as linhas correspondentes
print(Df_gasolina_comum)

       Unnamed: 0 DATA INICIAL DATA FINAL        REGIÃO              ESTADO  \
9256        12064   2004-05-09 2004-05-15  CENTRO OESTE    DISTRITO FEDERAL
9257        12065   2004-05-09 2004-05-15  CENTRO OESTE               GOIAS
9258        12066   2004-05-09 2004-05-15  CENTRO OESTE         MATO GROSSO
9259        12067   2004-05-09 2004-05-15  CENTRO OESTE  MATO GROSSO DO SUL
9260        12068   2004-05-09 2004-05-15      NORDESTE             ALAGOAS
...           ...          ...        ...           ...                 ...
78083      120721   2021-04-25 2021-05-01         NORTE             RORAIMA
78084      120722   2021-04-25 2021-05-01           SUL      SANTA CATARINA
78085      120723   2021-04-25 2021-05-01       SUDESTE           SAO PAULO
78086      120724   2021-04-25 2021-05-01      NORDESTE             SERGIPE
78087      120725   2021-04-25 2021-05-01         NORTE           TOCANTINS

              PRODUTO  NÚMERO DE POSTOS PESQUISADOS UNIDADE DE MEDIDA  \
9256   GASOLINA COMUM                           128              R$/l
9257   GASOLINA COMUM                           395              R$/l
9258   GASOLINA COMUM                           194              R$/l
9259   GASOLINA COMUM                           166              R$/l
9260   GASOLINA COMUM                           106              R$/l
...               ...                           ...               ...
78083  GASOLINA COMUM                            12              R$/l
78084  GASOLINA COMUM                           119              R$/l
78085  GASOLINA COMUM                          1187              R$/l
78086  GASOLINA COMUM                            34              R$/l
78087  GASOLINA COMUM                            20              R$/l

       PREÇO MÉDIO REVENDA  DESVIO PADRÃO REVENDA  PREÇO MÍNIMO REVENDA  \
9256                 2.029                  0.007                 1.990
9257                 2.025                  0.062                 1.850
9258                 2.358                  0.066                 2.000
9259                 2.120                  0.075                 1.970
9260                 2.090                  0.034                 2.000
...                    ...                    ...                   ...
78083                5.364                  0.065                 5.310
78084                5.051                  0.251                 4.640
78085                5.265                  0.218                 4.279
78086                5.586                  0.088                 5.410
78087                5.751                  0.160                 5.578

       PREÇO MÁXIMO REVENDA MARGEM MÉDIA REVENDA  COEF DE VARIAÇÃO REVENDA  \
9256                  2.070                0.318                     0.003
9257                  2.220                0.296                     0.031
9258                  2.540                0.472                     0.028
9259                  2.440                0.325                     0.035
9260                  2.159                 0.35                     0.016
...                     ...                  ...                       ...
78083                 5.530             -99999.0                     0.012
78084                 5.599             -99999.0                     0.050
78085                 6.099             -99999.0                     0.041
78086                 5.699             -99999.0                     0.016
78087                 6.119             -99999.0                     0.028

      PREÇO MÉDIO DISTRIBUIÇÃO DESVIO PADRÃO DISTRIBUIÇÃO  \
9256                     1.711                       0.02
9257                     1.729                      0.036
9258                     1.886                      0.068
9259                     1.795                      0.033
9260                      1.74                      0.042
...                        ...                        ...
78083                 -99999.0                   -99999.0
78084                 -99999.0                   -99999.0
78085                 -99999.0                   -99999.0
78086                 -99999.0                   -99999.0
78087                 -99999.0                   -99999.0

      PREÇO MÍNIMO DISTRIBUIÇÃO PREÇO MÁXIMO DISTRIBUIÇÃO  \
9256                      1.651                    1.7427
9257                     1.6643                     1.915
9258                       1.75                    2.0713
9259                    1.70701                    1.9703
9260                     1.6789                     1.918
...                         ...                       ...
78083                  -99999.0                  -99999.0
78084                  -99999.0                  -99999.0
78085                  -99999.0                  -99999.0
78086                  -99999.0                  -99999.0
78087                  -99999.0                  -99999.0

      COEF DE VARIAÇÃO DISTRIBUIÇÃO  Ano-mes
9256                          0.012  2004-05
9257                          0.021  2004-05
9258                          0.036  2004-05
9259                          0.018  2004-05
9260                          0.024  2004-05
...                             ...      ...
78083                      -99999.0  2021-05
78084                      -99999.0  2021-05
78085                      -99999.0  2021-05
78086                      -99999.0  2021-05
78087                      -99999.0  2021-05

[23570 rows x 20 columns]

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [45]:
filtro_ago = Df_gasolina_comum["Ano-mes"] == "2008-08"

Df_2008Ago = Df_gasolina_comum[filtro_ago]

Df_2008Ago["PREÇO MÉDIO REVENDA"].mean()

2.6012444444444442

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [50]:
Filtro_Maio = Df_gasolina_comum["Ano-mes"] == "2014-05" 

Df_2014Mai = Df_gasolina_comum[Filtro_Maio]

FiltroSP = Df_2014Mai["ESTADO"] == "SAO PAULO"

Df_2014MaiSP = Df_2014Mai[FiltroSP]

Df_2014MaiSP["PREÇO MÉDIO REVENDA"].mean()

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [54]:
Gaso_5 = Df_gasolina_comum["PREÇO MÉDIO REVENDA"] > 5

df_Gaso_5 = Df_gasolina_comum[Gaso_5]

In [56]:
df_Gaso_5["ESTADO"].value_counts()

ESTADO
ACRE                   60
RIO DE JANEIRO         34
TOCANTINS              20
RIO GRANDE DO NORTE    14
DISTRITO FEDERAL       12
MINAS GERAIS           11
RIO GRANDE DO SUL      11
PIAUI                  11
PARA                   11
MATO GROSSO DO SUL     11
CEARA                  11
BAHIA                  11
ALAGOAS                11
PERNAMBUCO             10
SERGIPE                10
SANTA CATARINA         10
RONDONIA               10
AMAZONAS               10
MARANHAO               10
GOIAS                  10
ESPIRITO SANTO         10
PARAIBA                 9
MATO GROSSO             9
PARANA                  9
RORAIMA                 9
SAO PAULO               9
Name: count, dtype: int64

In [57]:
df_Gaso_5["Ano-mes"].value_counts()

Ano-mes
2021-04    104
2021-03    103
2021-02     44
2021-05     26
2018-10     12
2021-01      9
2018-09      8
2018-11      8
2019-06      6
2018-06      6
2018-07      4
2018-08      4
2019-05      4
2020-02      4
2020-12      4
2020-01      3
2018-05      1
2020-03      1
2018-12      1
2019-07      1
Freq: M, Name: count, dtype: int64

### 11. Qual a média de preço dos estados da região sul em 2012?

In [67]:
Df_gasolina_comum["Year"] = Df_gasolina_comum["Ano-mes"].dt.year

C:\Users\PICHAU\AppData\Local\Temp\ipykernel_10580\267070542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Df_gasolina_comum["Year"] = Df_gasolina_comum["Ano-mes"].dt.year

In [71]:
FiltroRegiao = Df_gasolina_comum["REGIÃO"] == "SUL"
df_sul = Df_gasolina_comum[FiltroRegiao]

FiltroAno = df_sul["Year"] == 2012
df_sul2012 = df_sul[FiltroAno]

df_sul2012["PREÇO MÉDIO REVENDA"].mean()

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [88]:
Gaso_Rio = Df_gasolina_comum[Df_gasolina_comum["ESTADO"] == "RIO DE JANEIRO"][["Year", "PREÇO MÉDIO REVENDA"]].groupby(["Year"]).mean()

Gaso_Rio["% Média Anual"] = round(Gaso_Rio["PREÇO MÉDIO REVENDA"].pct_change()*100,2)

Gaso_Rio

      PREÇO MÉDIO REVENDA  % Média Anual
Year
2004             2.171939            NaN
2005             2.338588           7.67
2006             2.561365           9.53
2007             2.532077          -1.14
2008             2.546731           0.58
2009             2.564980           0.72
2010             2.647788           3.23
2011             2.832698           6.98
2012             2.852827           0.71
2013             2.995442           5.00
2014             3.132115           4.56
2015             3.537471          12.94
2016             3.917736          10.75
2017             4.102308           4.71
2018             4.855077          18.35
2019             4.855096           0.00
2020             4.761295          -1.93
2021             5.588778          17.38